%h3 Generate digest
%p 
  This form will generate a digest and then go to the timestamp page for it.
%p 
  The actual data will not be stored anywhere. Only the digest and timestamp is stored.

%form{ :action=>"/digest",:method=>"POST"} 
  %textarea{:name=>"body",:cols=>60,:rows=>10}=@body
  %br
  %input{ :value=>"Generate",:type=>"submit"}
%br
%h3 
  Using this page from your own blog or web application
%p 
  You can create a form on your own page that goes to this page. You must use the POST method and one of the following urls. The data to digest should be in the 'body' parameter of the request.
%ul
  %li
    %tt http://timecert.org/generate
  %li
    %tt http://timecert.org/digest

%p The first url shows the data to the user on this page before generating the digest.
%p The second url generates the digest immediately.
